.alltasks {
  margin: 1em 3em;
}

.taskshead {
  font-size: 1em;
  /* margin: 1em; */
  display: flex;
  justify-content: space-between;
  padding: 1em;
  margin: 1em 0em;
  align-items: center;
  background-color: #c7ece2;
  color: black;
  border-radius: 0.2em;
  /* position: sticky;
  top: 6em; */
  margin-bottom: 3em;
  border-radius: 2px;
  border-left: 10px solid #02986f;
  border-right: 10px solid #02986f;
}
.rules {
  margin: 3em;
  display: flex;
  justify-content: flex-start;
  border-radius: .2em;
  flex-direction: column;
  background-color: #f1f1f1;
  color: rgb(66, 66, 42);
  /* color: black; */
  padding: 2em;
}

.ruleslist {
  margin: 1.5em;
}
.ruleshead {
  display: flex;
  border-left: 5px solid #02986f;
  /* margin: 3em; */
  align-items: baseline;
}

.tasks {
  /* display: flex; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-wrap: wrap;
}

.taskcard {
  display: flex;
  justify-content:space-between;
  align-items:stretch;
  flex-direction:column;
  width: 200px;
  text-decoration: none;
  margin: 1em;
  padding: 1em;
  border-radius: 1em;
  color: black;
  box-shadow: 0px 0px 10px -6px;
  border-left: 4px solid #02986f;
  border-right: 4px solid #02986f;
}
.taskcard:hover {
  box-shadow: 0px 0px 10px -4px;
}
.date {
  font-size: 80%;
  margin: 1em 0em;
}

.content {
  color: rgb(66, 66, 66);
}

.cardtitle {
  display: flex;
  justify-content: start;
  align-items: baseline;
  /* margin:; */
}
.cardtitle h1 {
  margin-right: 0.2em;
}

.btn {
  background-color: #02986f;
  margin: 0.2em 0em;
  color: white;
  width: min-content;
  padding: 0.4em;
  border-radius: 0.4em;
  margin-top: 1em;
}

.btn:hover {
  background-color: gray;
}


@media screen and (max-width: 550px){
  .rules{
    margin: 1em;
    padding: 1em;
    font-size: 80%;
  }
  .taskshead{
    font-size: 80%;
  }
  .taskcard{
    width: 95vw;
  }
}